.Food_Text{
  font-family: "Croissant One", cursive;
  text-decoration: none;
  color: black ;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column-reverse;
}

.Photo_Text_Container{
  margin-top: 100px;
  width: 25%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.Photo_Text_Container img {
  border-radius: 20px;
  transition: filter 0.7s ease;
}
.Photo_Text_Container img:hover {
  filter: brightness(90%);
}
.Photo_Text_Container a:hover{

  color: grey;
}
.Photo_Text_Container a{
  transition: all 0.3s ease;
}